<h1>Users List</h1>

<ul>
  <% if @users.present? %>
    <% @users.each do |user| %>
      <li>
        <%= link_to user.username, user_path(user) %>
      </li>
    <% end %>
  <% else %>
    <p>No users found.</p>
  <% end %>
</ul>
